h1 {
  line-height: 5px;
}

#title {
  font-size: 40px;
  color: #66FCF1;
}

#name {
  font-size: 25px;
  color: #45A29E;
}


#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8E8E8E;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2px 15px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: #727272;
}



body {
  margin-left: 10px;
  font-family: Verdana;
  font-weight: 600;
  background-color: #1F2833;
  color: #C5C6C7;
  font-size: 16px;
}

ol {
  color: #45A29E;
}

#plan {
  text-decoration: underline;
}

p a:visited, p a:active {
  color: #CF85FF;

}

p a:hover {
  color: white;
}

a {
    text-decoration: none;
}
